@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");
:root {
  --bg: white;
  --bg-p:  hsl(228, 12%, 44%);
  --card-bg: hsl(227, 47%, 96%);
  --card-hover:#e5e8f6;
  --h1: black;
  --h2: hsl(228, 12%, 44%);
  --span: hsl(228, 12%, 44%);
  --toggle: hsla(228, 34%, 66%, .6);
  --toggle-c: white;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font: 400 14px 'Inter';
  background-color: var(--bg);
  -webkit-transition: background-color .75s linear;
  transition: background-color .75s linear;
}

.header {
  position: relative;
  padding: 2em 2rem 0 2rem;
  margin: 0 auto;
  max-width: 400px;
}

@media (min-width: 1024px) {
  .header {
    max-width: 1240px;
    margin: 0 auto 2em auto;
  }
}

.header h2 {
  color: var(--h1);
}

.header .after {
  color: var(--span);
  font-weight: 700;
}

.header .after::after {
  content: '';
  display: block;
  width: 83%;
  height: 1px;
  background-color: var(--span);
  position: absolute;
  margin-top: 1em;
}

@media (min-width: 1024px) {
  .header .after::after {
    display: none;
  }
}

.toggle-wrap {
  margin: 2em auto 3em auto;
  max-width: 400px;
  text-align: left;
}

@media (min-width: 1024px) {
  .toggle-wrap {
    display: inline;
    float: right;
    position: absolute;
    top: 1rem;
    right: 2rem;
  }
  .toggle-wrap > span {
    margin-right: 1em;
  }
}

.toggle-wrap #chk {
  display: none;
}

.toggle-wrap #chk:checked ~ label {
  --toggle: linear-gradient(to right, hsl(210, 78%, 56%) ,hsl(146, 68%, 55%));
}

.toggle-wrap #chk:checked ~ label span {
  right: 1.3em;
  --toggle-c: hsl(230, 17%, 14%);
}

.toggle-wrap span {
  font-weight: 700;
  color: var(--span);
}

.toggle-wrap label {
  float: right;
  width: 2.5em;
  height: 1.25em;
  border-radius: 10px;
  background: var(--toggle);
  position: relative;
  cursor: pointer;
}

.toggle-wrap label:hover {
  background: -webkit-gradient(linear, left top, right top, from(#378fe6), to(#3eda82));
  background: linear-gradient(to right, #378fe6, #3eda82);
}

.toggle-wrap label span {
  content: '';
  height: 1em;
  width: 1em;
  display: block;
  position: absolute;
  top: 2px;
  right: 3px;
  background: var(--toggle-c);
  border-radius: 50%;
  -webkit-transition: right .5s linear;
  transition: right .5s linear;
}

.cards {
  max-width: 400px;
  margin: 0 auto;
}

@media (min-width: 1024px) {
  .cards {
    max-width: unset;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.cards .card {
  text-align: center;
  margin: 1.5em 2.5em;
  padding: 2em 0;
  border-radius: 5px;
  cursor: pointer;
  position: relative;
  background-color: var(--card-bg);
  -webkit-transition: background-color .75s ease;
  transition: background-color .75s ease;
}

@media (min-width: 1024px) {
  .cards .card {
    margin: 1em 2em;
    width: 100%;
    max-width: 250px;
  }
}

.cards .card:hover {
  background-color: var(--card-hover);
}

.cards .card.facebook::before {
  content: '';
  width: 100%;
  height: 5px;
  border-radius: 5px 5px 0 0;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  background: deepskyblue;
}

.cards .card.facebook .name {
  font-weight: 700;
  font-size: 12px;
  color: var(--span);
}

.cards .card.facebook .name::before {
  content: url("../images/icon-facebook.svg");
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  position: relative;
  right: 5px;
  top: 5px;
}

.cards .card.twitter::before {
  content: '';
  width: 100%;
  height: 5px;
  border-radius: 5px 5px 0 0;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  background: #1ca0f2;
}

.cards .card.twitter .name {
  font-weight: 700;
  font-size: 12px;
  color: var(--span);
}

.cards .card.twitter .name::before {
  content: url("../images/icon-twitter.svg");
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  position: relative;
  right: 5px;
  top: 5px;
}

.cards .card.instagram::before {
  content: '';
  width: 100%;
  height: 5px;
  border-radius: 5px 5px 0 0;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  background: -webkit-gradient(linear, right top, left top, from(#fdc468), to(#df4996));
  background: linear-gradient(to left, #fdc468, #df4996);
}

.cards .card.instagram .name {
  font-weight: 700;
  font-size: 12px;
  color: var(--span);
}

.cards .card.instagram .name::before {
  content: url("../images/icon-instagram.svg");
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  position: relative;
  right: 5px;
  top: 5px;
}

.cards .card.youtube::before {
  content: '';
  width: 100%;
  height: 5px;
  border-radius: 5px 5px 0 0;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  background: #c4032a;
}

.cards .card.youtube .name {
  font-weight: 700;
  font-size: 12px;
  color: var(--span);
}

.cards .card.youtube .name::before {
  content: url("../images/icon-youtube.svg");
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  position: relative;
  right: 5px;
  top: 5px;
}

.cards .card h1 {
  font-size: 55px;
  margin-top: 1rem;
  color: var(--h1);
}

.cards .card .followers {
  letter-spacing: 5px;
  text-transform: uppercase;
  font-size: 12px;
  display: block;
  margin-bottom: 1rem;
  color: var(--span);
}

.cards .card .change {
  font-size: 12px;
  font-weight: 700;
  color: #1db489;
}

.cards .card .change::before {
  content: url("../images/icon-up.svg");
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  position: relative;
  top: -2.5px;
  right: 3px;
}

.cards .card.youtube .change {
  color: #dc414c;
}

.cards .card.youtube .change::before {
  content: url("../images/icon-down.svg");
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  position: relative;
  top: -2.5px;
  right: 3px;
}

.overview {
  margin: 0 auto;
  max-width: 400px;
}

@media (min-width: 1024px) {
  .overview {
    max-width: 1240px;
    margin: 0 auto 2em auto;
  }
  .overview .card-wrap-one, .overview .card-wrap-two {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .overview .card-wrap-one .card, .overview .card-wrap-two .card {
    max-width: 250px;
    width: 100%;
    margin: 1em 2em;
  }
}

.overview h1 {
  margin: 1.5em 2rem 0 2rem;
  color: var(--h2);
  font-size: 24px;
}

@media (min-width: 1024px) {
  .overview h1 {
    margin: 1.5em 0 .75rem 2.25rem;
  }
}

.overview .card {
  margin: 1.5em 2.5em;
  padding: 1.5em 1.75em;
  cursor: pointer;
  border-radius: 5px;
  background-color: var(--card-bg);
  -webkit-transition: background-color .75s ease;
  transition: background-color .75s ease;
}

.overview .card.facebook .head {
  display: block;
  margin-bottom: 1.5em;
  font-weight: 700;
  color: var(--span);
}

.overview .card.facebook .head::after {
  content: url("../images/icon-facebook.svg");
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  display: inline;
  float: right;
}

.overview .card.twitter .head {
  display: block;
  margin-bottom: 1.5em;
  font-weight: 700;
  color: var(--span);
}

.overview .card.twitter .head::after {
  content: url("../images/icon-twitter.svg");
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  display: inline;
  float: right;
}

.overview .card.instagram .head {
  display: block;
  margin-bottom: 1.5em;
  font-weight: 700;
  color: var(--span);
}

.overview .card.instagram .head::after {
  content: url("../images/icon-instagram.svg");
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  display: inline;
  float: right;
}

.overview .card.youtube .head {
  display: block;
  margin-bottom: 1.5em;
  font-weight: 700;
  color: var(--span);
}

.overview .card.youtube .head::after {
  content: url("../images/icon-youtube.svg");
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  display: inline;
  float: right;
}

.overview .card h2 {
  display: inline;
  color: var(--h1);
}

.overview .card .change {
  float: right;
  font-weight: 700;
  font-size: 12px;
  color: #1db489;
  margin-top: .65em;
}

.overview .card .change::before {
  content: url("../images/icon-up.svg");
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  position: relative;
  top: -2.5px;
  right: 3px;
}

.overview .card.youtube .change, .overview .card.facebook.likes .change {
  color: #dc414c;
}

.overview .card.youtube .change::before, .overview .card.facebook.likes .change::before {
  content: url("../images/icon-down.svg");
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  position: relative;
  top: -2.5px;
  right: 3px;
}
/*# sourceMappingURL=style.css.map */